In [98]:
import pandas as pd
import numpy as np
# Libraries to help with data visualization
import matplotlib.pyplot as plt

import seaborn as  sns

In [99]:
customer_read = pd.read_csv('1.csv', sep = ",")
customer_data = pd.DataFrame(customer_read)

In [100]:
customer_data.head()

,Unnamed: 0,Income,Dt_Customer,Recency,WinesProducts,FruitsProducts,MeatProducts,FishProducts,SweetProducts,GoldProducts,...,AcceptedCmp1,AcceptedCmp2,Complain,Response,Children,Education_Graduation,Education_Postgraduate,Education_Undergraduate,Marital_Status_Married,Marital_Status_Single
0,0,58138.0,25,58,635,88,546,172,88,88,...,0,0,0,1,0,1,0,0,0,1
1,1,46344.0,7,38,11,1,6,2,1,6,...,0,0,0,0,1,1,0,0,0,1
2,2,71613.0,13,26,426,49,127,111,21,42,...,0,0,0,0,0,1,0,0,1,0
3,3,26646.0,7,26,11,4,20,10,3,5,...,0,0,0,0,1,1,0,0,1,0
4,4,58293.0,8,94,173,43,118,46,27,15,...,0,0,0,0,1,0,1,0,1,0

In [101]:
data = customer_data[['WinesProducts','FruitsProducts','MeatProducts','FishProducts','SweetProducts','GoldProducts']]

In [102]:
data.head(6)

,WinesProducts,FruitsProducts,MeatProducts,FishProducts,SweetProducts,GoldProducts
0,635,88,546,172,88,88
1,11,1,6,2,1,6
2,426,49,127,111,21,42
3,11,4,20,10,3,5
4,173,43,118,46,27,15
5,520,42,98,0,42,14

In [103]:
pd.options.mode.chained_assignment = None
data['WinesProducts'] = [1 if x != 0 else 0 for x in data['WinesProducts']]
data['FruitsProducts'] = [1 if x != 0 else 0 for x in data['FruitsProducts']]
data['MeatProducts'] = [1 if x != 0 else 0 for x in data['MeatProducts']]
data['FishProducts'] = [1 if x != 0 else 0 for x in data['FishProducts']]
data['SweetProducts'] = [1 if x != 0 else 0 for x in data['SweetProducts']]
data['GoldProducts'] = [1 if x != 0 else 0 for x in data['GoldProducts']]

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035 entries, 0 to 2034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   WinesProducts   2035 non-null   int64
 1   FruitsProducts  2035 non-null   int64
 2   MeatProducts    2035 non-null   int64
 3   FishProducts    2035 non-null   int64
 4   SweetProducts   2035 non-null   int64
 5   GoldProducts    2035 non-null   int64
dtypes: int64(6)
memory usage: 95.5 KB

In [105]:
data.head(30)

,WinesProducts,FruitsProducts,MeatProducts,FishProducts,SweetProducts,GoldProducts
0,1,1,1,1,1,1
1,1,1,1,1,1,1
2,1,1,1,1,1,1
3,1,1,1,1,1,1
4,1,1,1,1,1,1
5,1,1,1,0,1,1
6,1,1,1,1,1,1
7,1,1,1,1,1,1
8,1,0,1,1,1,1
9,1,0,1,1,1,1
10,1,1,1,1,1,1
11,1,1,1,1,1,1
12,1,1,1,1,1,1
13,1,1,1,1,1,1
14,1,1,1,1,1,1
15,1,1,1,1,1,1
16,1,1,1,1,1,1
17,1,1,1,0,1,1
18,1,1,1,1,1,1
19,1,1,1,1,1,1
20,1,1,1,1,1,1
21,1,0,1,0,0,1
22,1,0,1,1,1,1
23,1,1,1,1,1,1
24,1,1,1,1,1,1
25,1,1,1,1,1,1
26,1,1,1,1,1,1
27,1,1,1,1,1,0
28,1,1,1,1,1,1
29,1,1,1,1,1,1

In [108]:
for column in data.columns:
    print(column)
    print(data[column].value_counts())
    print("-" * 40)

WinesProducts
1    2023
0      12
Name: WinesProducts, dtype: int64
----------------------------------------
FruitsProducts
1    1673
0     362
Name: FruitsProducts, dtype: int64
----------------------------------------
MeatProducts
1    2034
0       1
Name: MeatProducts, dtype: int64
----------------------------------------
FishProducts
1    1681
0     354
Name: FishProducts, dtype: int64
----------------------------------------
SweetProducts
1    1655
0     380
Name: SweetProducts, dtype: int64
----------------------------------------
GoldProducts
1    1978
0      57
Name: GoldProducts, dtype: int64
----------------------------------------

In [112]:
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth

# Building the model
frq_items = apriori(data, min_support = 0.08, use_colnames = True)

# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values("support", ascending = False)
rules

/home/mary/data-mining/project/Venv-p/lib/python3.8/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(MeatProducts),(WinesProducts),0.999509,0.994103,0.994103,0.994592,1.000492,0.000489,1.090373
3,(WinesProducts),(MeatProducts),0.994103,0.999509,0.994103,1.000000,1.000492,0.000489,inf
46,"(GoldProducts, MeatProducts)",(WinesProducts),0.971499,0.994103,0.966093,0.994436,1.000335,0.000323,1.059817
47,"(GoldProducts, WinesProducts)",(MeatProducts),0.966093,0.999509,0.966093,1.000000,1.000492,0.000475,inf
48,(MeatProducts),"(GoldProducts, WinesProducts)",0.999509,0.966093,0.966093,0.966568,1.000492,0.000475,1.014207
...,...,...,...,...,...,...,...,...,...
428,(SweetProducts),"(FruitsProducts, GoldProducts, FishProducts, W...",0.813268,0.719410,0.647174,0.795770,1.106143,0.062101,1.373893
427,(WinesProducts),"(FruitsProducts, GoldProducts, FishProducts, S...",0.994103,0.650123,0.647174,0.651013,1.001370,0.000885,1.002552
426,(GoldProducts),"(FruitsProducts, FishProducts, WinesProducts, ...",0.971990,0.657494,0.647174,0.665824,1.012670,0.008097,1.024928
425,(FruitsProducts),"(GoldProducts, FishProducts, WinesProducts, Sw...",0.822113,0.712531,0.647174,0.787209,1.104807,0.061394,1.350944
547,(MeatProducts),"(FruitsProducts, GoldProducts, WinesProducts, ...",0.999509,0.647174,0.647174,0.647493,1.000492,0.000318,1.000903

In [114]:
frq_items_f = fpgrowth(data, min_support=0.1, use_colnames=True,verbose=1)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values("support", ascending = False)
rules

6 itemset(s) from tree conditioned on items ()
0 itemset(s) from tree conditioned on items (MeatProducts)
1 itemset(s) from tree conditioned on items (WinesProducts)
3 itemset(s) from tree conditioned on items (GoldProducts)
3 itemset(s) from tree conditioned on items (FishProducts)
0 itemset(s) from tree conditioned on items (FishProducts, MeatProducts)
1 itemset(s) from tree conditioned on items (FishProducts, WinesProducts)
3 itemset(s) from tree conditioned on items (FishProducts, GoldProducts)
4 itemset(s) from tree conditioned on items (FruitsProducts)
0 itemset(s) from tree conditioned on items (FruitsProducts, MeatProducts)
1 itemset(s) from tree conditioned on items (FruitsProducts, WinesProducts)
3 itemset(s) from tree conditioned on items (FruitsProducts, GoldProducts)
3 itemset(s) from tree conditioned on items (FruitsProducts, FishProducts)
0 itemset(s) from tree conditioned on items (FruitsProducts, FishProducts, MeatProducts)
1 itemset(s) from tree conditioned on items (FruitsProducts, FishProducts, WinesProducts)
3 itemset(s) from tree conditioned on items (FruitsProducts, FishProducts, GoldProducts)
5 itemset(s) from tree conditioned on items (SweetProducts)
0 itemset(s) from tree conditioned on items (SweetProducts, MeatProducts)
1 itemset(s) from tree conditioned on items (SweetProducts, WinesProducts)
3 itemset(s) from tree conditioned on items (SweetProducts, GoldProducts)
3 itemset(s) from tree conditioned on items (SweetProducts, FishProducts)
0 itemset(s) from tree conditioned on items (SweetProducts, FishProducts, MeatProducts)
1 itemset(s) from tree conditioned on items (SweetProducts, FishProducts, WinesProducts)
3 itemset(s) from tree conditioned on items (SweetProducts, FishProducts, GoldProducts)
4 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts)
0 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts, MeatProducts)
1 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts, WinesProducts)
3 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts, GoldProducts)
3 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts, FishProducts)
0 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts, FishProducts, MeatProducts)
1 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts, FishProducts, WinesProducts)
3 itemset(s) from tree conditioned on items (SweetProducts, FruitsProducts, FishProducts, GoldProducts)

/home/mary/data-mining/project/Venv-p/lib/python3.8/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(MeatProducts),(WinesProducts),0.999509,0.994103,0.994103,0.994592,1.000492,0.000489,1.090373
3,(WinesProducts),(MeatProducts),0.994103,0.999509,0.994103,1.000000,1.000492,0.000489,inf
46,"(GoldProducts, MeatProducts)",(WinesProducts),0.971499,0.994103,0.966093,0.994436,1.000335,0.000323,1.059817
47,"(GoldProducts, WinesProducts)",(MeatProducts),0.966093,0.999509,0.966093,1.000000,1.000492,0.000475,inf
48,(MeatProducts),"(GoldProducts, WinesProducts)",0.999509,0.966093,0.966093,0.966568,1.000492,0.000475,1.014207
...,...,...,...,...,...,...,...,...,...
428,(SweetProducts),"(FruitsProducts, GoldProducts, FishProducts, W...",0.813268,0.719410,0.647174,0.795770,1.106143,0.062101,1.373893
427,(WinesProducts),"(FruitsProducts, GoldProducts, FishProducts, S...",0.994103,0.650123,0.647174,0.651013,1.001370,0.000885,1.002552
426,(GoldProducts),"(FruitsProducts, FishProducts, WinesProducts, ...",0.971990,0.657494,0.647174,0.665824,1.012670,0.008097,1.024928
425,(FruitsProducts),"(GoldProducts, FishProducts, WinesProducts, Sw...",0.822113,0.712531,0.647174,0.787209,1.104807,0.061394,1.350944
547,(MeatProducts),"(FruitsProducts, GoldProducts, WinesProducts, ...",0.999509,0.647174,0.647174,0.647493,1.000492,0.000318,1.000903

# Analyze Apriori

most Frequent pattern is Anyone who buys meat also buys wine
then Anyone who buys gold  also buys (FruitsProducts, MeatProducts, WinesProducts, SweetProducts)
then Anyone who buys (FruitsProducts, GoldProducts) also buy (WinesProducts, SweetProducts) ...

# Analyze FP growth

most Frequent pattern is Anyone who buys meate also buys wine
then anyone who buys (GoldProducts, meatProducts) also buy wine

# as i see all pattern lift is 1 so there have Positive correlation

In [96]:
data = data.to_csv()
with open('2.csv', 'w') as f:
    f.write(data)