In [38]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [39]:
customer_read = pd.read_csv('data_customer.csv', sep = ",")
customer_data = pd.DataFrame(customer_read)

In [32]:
customer_data.head()

,Unnamed: 0,ID,Year_Birth,Income,Dt_Customer,Recency,WinesProducts,FruitsProducts,MeatProducts,FishProducts,...,NumberofChildren,TotalCampaignsAcc,Education_Basic,Education_Graduation,Education_Master,Education_PhD,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Widow
0,0,5524,1957,58138.0,25,58,635,88,546,172,...,0,0,0,1,0,0,0,0,1,0
1,1,2174,1954,46344.0,7,38,11,1,6,2,...,2,0,0,1,0,0,0,0,1,0
2,2,4141,1965,71613.0,13,26,426,49,127,111,...,0,0,0,1,0,0,0,1,0,0
3,3,6182,1984,26646.0,7,26,11,4,20,10,...,1,0,0,1,0,0,0,1,0,0
4,4,5324,1981,58293.0,8,94,173,43,118,46,...,1,0,0,0,0,1,0,1,0,0

In [37]:
data_customer = customer_data[
    ['Age', 'Education', 'Marital_Status', 'Income', 'Spending', 'Seniority',
     'Has_child', 'Children', 'Wines', 'Fruits', 'Meat', 'Fish', 'Sweets',
     'Gold']]
data_customer.head()

KeyError: "['Age', 'Education', 'Marital_Status', 'Seniority', 'Has_child', 'Children', 'Wines', 'Fruits', 'Meat', 'Fish', 'Sweets', 'Gold'] not in index"

In [35]:
customer_data.head(40)

,ID,Year_Birth,Income,Dt_Customer,Recency,WinesProducts,FruitsProducts,MeatProducts,FishProducts,SweetProducts,...,NumberofChildren,TotalCampaignsAcc,Education_Basic,Education_Graduation,Education_Master,Education_PhD,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Widow
0,5524,1957,58138.0,25,58,635,88,546,172,88,...,0,0,0,1,0,0,0,0,1,0
1,2174,1954,46344.0,7,38,11,1,6,2,1,...,2,0,0,1,0,0,0,0,1,0
2,4141,1965,71613.0,13,26,426,49,127,111,21,...,0,0,0,1,0,0,0,1,0,0
3,6182,1984,26646.0,7,26,11,4,20,10,3,...,1,0,0,1,0,0,0,1,0,0
4,5324,1981,58293.0,8,94,173,43,118,46,27,...,1,0,0,0,0,1,0,1,0,0
5,7446,1967,62513.0,13,16,520,42,98,0,42,...,1,0,0,0,1,0,0,1,0,0
6,965,1971,55635.0,23,34,235,65,164,50,49,...,1,0,0,1,0,0,1,0,0,0
7,6177,1985,33454.0,17,32,76,10,56,3,1,...,1,0,0,0,0,1,0,1,0,0
8,4855,1974,30351.0,16,19,14,0,24,3,3,...,1,0,0,0,0,1,0,1,0,0
9,5899,1950,5648.0,6,68,28,0,6,1,1,...,2,1,0,0,0,1,0,1,0,0
10,387,1976,7500.0,23,59,6,16,11,11,1,...,0,0,1,0,0,0,0,1,0,0
11,2125,1959,63033.0,10,82,194,61,480,225,112,...,0,0,0,1,0,0,1,0,0,0
12,8180,1952,59354.0,10,53,233,2,53,3,5,...,2,0,0,0,1,0,1,0,0,0
13,2569,1987,17323.0,24,38,3,14,17,6,1,...,0,0,0,1,0,0,0,1,0,0
14,2114,1946,82800.0,22,23,1006,22,115,59,68,...,0,2,0,0,0,1,0,0,1,0
15,9736,1980,41850.0,21,51,53,5,19,2,13,...,2,0,0,1,0,0,0,1,0,0
16,4939,1946,37760.0,25,20,84,5,38,150,12,...,0,0,0,1,0,0,0,1,0,0
17,6565,1949,76995.0,18,91,1012,80,498,0,16,...,1,1,0,0,1,0,0,1,0,0
18,2278,1985,33812.0,23,86,4,17,19,30,24,...,1,0,0,0,1,0,0,0,1,0
19,9360,1982,37040.0,26,41,86,2,73,69,38,...,0,0,0,1,0,0,0,1,0,0
20,1993,1949,58607.0,21,63,867,0,86,0,0,...,1,1,0,0,0,1,0,1,0,0
21,4047,1954,65324.0,8,0,384,0,102,21,32,...,1,0,0,0,0,1,0,1,0,0
22,1409,1951,40689.0,18,69,270,3,27,39,6,...,1,0,0,1,0,0,0,1,0,0
23,7892,1969,18589.0,21,89,6,4,25,15,12,...,0,0,0,1,0,0,0,0,1,0
24,2404,1976,53359.0,16,4,173,4,30,3,6,...,2,0,0,1,0,0,0,1,0,0
25,9422,1989,38360.0,16,26,36,2,42,20,21,...,1,0,0,1,0,0,0,1,0,0
26,1966,1965,84618.0,10,96,684,100,801,21,66,...,0,1,0,0,0,1,0,1,0,0
27,6864,1989,10979.0,4,34,8,4,10,2,2,...,0,0,0,0,1,0,1,0,0,0
28,3033,1963,38620.0,17,56,112,17,44,34,22,...,0,0,0,0,1,0,0,1,0,0
29,5710,1970,40548.0,24,31,110,0,5,2,0,...,1,1,0,1,0,0,0,1,0,0
30,7373,1952,46610.0,23,8,96,12,96,33,22,...,2,0,0,0,0,1,1,0,0,0
31,8755,1946,68657.0,19,4,482,34,471,119,68,...,0,0,0,0,1,0,0,1,0,0
32,10738,1951,49389.0,13,55,40,0,19,2,1,...,2,0,0,0,1,0,0,0,1,0
33,4339,1970,67353.0,9,37,702,17,151,0,8,...,1,0,0,0,0,1,0,1,0,0
34,10755,1976,23718.0,13,76,6,3,14,15,7,...,1,0,0,0,1,0,0,1,0,0
35,8595,1973,42429.0,7,99,55,0,6,2,0,...,1,0,0,1,0,0,0,0,0,1
36,2968,1943,48948.0,20,53,437,8,206,160,49,...,0,1,0,0,0,1,1,0,0,0
37,8601,1980,80011.0,17,3,421,76,536,82,178,...,1,0,0,1,0,0,0,1,0,0
38,503,1985,20559.0,19,88,13,1,29,3,0,...,1,0,0,0,1,0,0,1,0,0
39,8430,1957,21994.0,21,4,9,0,6,3,1,...,1,0,0,1,0,0,0,1,0,0

KeyError: 'Marital_Status'